<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cá nhân</title>
</head>
<body style="background-color: #0f6674" >
<h3 style="margin-top: 15px; color: orangered;text-align: center">Add Users</h3>
<div style="text-align: center;">
    <img src="http://2.bp.blogspot.com/-pAWn6Yvi9xI/UU8xp31z4LI/AAAAAAAAA8c/ZNkbNgY7hzA/s1600/1B3U0476.jpg" width="300px; height:500px;" style="border-radius: 20px; margin-top: 20px;">
</div>

<form style="border: 20px; border-color: aqua; text-align: center" action="/addUsers" method="post">
    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;">
        Họ và tên : <input name="name"  placeholder="name" style="width: 300px; height:40px ; border-radius:9px; margin-left: 70px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> User name : <input name="username"  placeholder="user name" style="width: 300px; height:40px ; border-radius:9px; margin-left: 70px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> Age : <input name="age" placeholder="age" style="width: 300px; height:40px ; border-radius:9px;margin-left: 130px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> Number Phone :<input name="phone" placeholder="number phone" style="width: 300px; height:40px ; border-radius:9px;margin-left: 25px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> Address : <input name="address" placeholder="address" style="width: 300px; height:40px ; border-radius:9px;margin-left: 90px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> Hobies : <input name="hobbies" placeholder="hobies" style="width: 300px; height:40px ; border-radius:9px;margin-left: 100px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> Pet : <input name="pet" placeholder="pet" style="width: 300px; height:40px ; border-radius:9px;margin-left: 130px;"></div>

    <hr style="color: green"/>
    <button type="submit" style="background-color: blueviolet; color: whitesmoke; width: 130px;height: 40px; border-radius: 20px; ">Add User</button>


</form>
</body>
</html>