<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/style1.css" />
    <title>Screen Home</title>
</head>
<body style=" ">
<div class="container">
    <div class="side">
        <div class="header">
            <div class="avatar">
                <img src="assets/images/avtTinder.jpg"/>
            </div>
            <div class="title">Thông tin cá nhân</div>
        </div>
        <div class="menu" style="margin-top: 20px;">
            <ul>
                <li><a href="l_user" target="pageHome" style="text-decoration:none;">List User</a></li>
                <li class="active"><a href="add_user" target="pageHome" style="text-decoration:none;">Add User</a></li>
            </ul>
        </div>
        <div class="messages">
            <div class="avatar">
                <img src="https://randomuser.me/api/portraits/women/38.jpg" alt="" />
            </div>
            <div class="message">
                <div class="user">Caroline</div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
            </div>
        </div>
        <div class="messages">
            <div class="avatar">
                <img src="https://randomuser.me/api/portraits/women/39.jpg" alt="" />
            </div>
            <div class="message">
                <div class="user">Caroline</div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
            </div>
        </div>
        <div class="messages">
            <div class="avatar">
                <img src="https://randomuser.me/api/portraits/women/40.jpg" alt="" />
            </div>
            <div class="message">
                <div class="user">Caroline</div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
            </div>
        </div>
        <div class="messages">
            <div class="avatar">
                <img src="https://randomuser.me/api/portraits/women/41.jpg" alt="" />
            </div>
            <div class="message">
                <div class="user">Caroline</div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
            </div>
        </div>
        <div class="messages">
            <div class="avatar">
                <img src="https://randomuser.me/api/portraits/women/42.jpg" alt="" />
            </div>
            <div class="message">
                <div class="user">Caroline</div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
            </div>
        </div>
    </div>
<!--<h1>{{loi}}</h1>-->
    <div style="width: 999px; height: 975px">
        <iframe src="l_oStart" name="pageHome" frameborder="0" style="width: 100%; height: 100%;"  ></iframe>

    </div>
</div>
</body>
</html>
