<div data-aos="slide-up" data-aos-duration="800" data-aos-once="true" class="intro-body" style="background: url(&quot;assets/img/bachgroupLow.jpg&quot;), rgba(255,255,255,0.86);height: 800px;color: var(--white);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto" style="color: var(--indigo);box-shadow: 0px 0px;">
                <h1 class="rubberBand animated infinite brand-heading" style="color: #D9ECC7;text-align: center;text-shadow: 0px 0px 14px, 0px 0px 6px;">Swipe Right®<br></h1><a class="btn btn-primary" role="button" data-bss-hover-animate="shake" style="width: 300px;height: 70px;color: rgb(255,255,255);background: var(--pink);border-radius: 40px;font-size: 20px;font-family: Lora, serif;margin-left: 10px;text-align: center;padding: 17px;" href="SignUp.html">Tạo tài khoản</a>
            </div>
        </div>
    </div>
</div>