
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md fixed-top" data-aos="fade-up" data-aos-duration="3000" id="mainNav" style="background: var(--red);">
    <div class="container">
        <div style="margin-left: -40px;margin-top: 10px;"><img class="swing animated infinite" src="assets/img/logoTinder.png" style="width: 100px;height: 50px;margin-right: 1100px;">
            <p style="width: 200px;margin-left: 80px;margin-bottom: 31px;margin-top: -53px;color: #FFFF;font-size: 40px;font-family: Cabin, sans-serif;">Tinder</p><img class="tada animated infinite" src="assets/img/earth1.png" style="width: 20px;height: 20px;margin-left: 900px;margin-top: -170px;">
            <p style="width: 130px;margin-left: 927px;font-family: Lora, serif;margin-top: -112px;">TIẾNG VIỆT</p><a class="btn btn-primary" role="button" data-bss-hover-animate="wobble" style="margin-top: -123px;margin-left: 1060px;font-size: 18px;font-family: Cabin, sans-serif;color: var(--pink);background: #FFF;border-radius: 10px;border-style: solid;border-color: var(--pink);" href="signin">Đăng Nhập</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto"></ul>
        </div>
    </div>
</nav>

<section class="register-photo" style="height: 1000px;background: url(&quot;assets/img/bachgroupHigh.jpg&quot;) center / cover no-repeat;">
    <div class="form-container" style="margin-top: 120px">
        <div class="image-holder" style="background: url(&quot;assets/img/bannerTinder.jpg&quot;) left / cover no-repeat;"></div>
        <form method="post">
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)"></div>
            <div class="form-group">
                <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit"><a href="signin">Sign Up</a></button></div><a class="already" href="signin">You already have an account? Login here.</a>
        </form>
    </div>
</section>

<div class="map-clean"></div>
<footer style="color: white;font-size: 20px; background-color: #0b2e13">
    <div style="width: 120px;">
        <p style="width: 200px;font-size: 20px;font-family: Cabin, sans-serif;margin-left: 30px;">Tải ngay ứng dụng</p><img src="assets/img/Apple-logo.png" style="width: 50px;margin-left: 210px;margin-top: -60px;"><img src="assets/img/132-1329856_apps-google-play-icon-google-play-store-icon.png" style="width: 50px;margin-top: -115px;margin-left: 290px;">
    </div>
    <p><br>Các bằng hữu độc thân vui vẻ, xin có mấy lời gửi tới các bạn: Nếu bạn đang tìm kiếm người yêu, muốn bắt đầu hẹn hò, hay chỉ đơn giản là muốn có thêm bạn bè, bạn cần có mặt trên Tinder. Với hơn 55 tỉ lượt tương hợp được kết nối, Tinder chính là nơi để gặp gỡ bạn tương hợp tốt nhất tiếp theo của bạn. Chân thành mà nói, môi trường hẹn hò ngày nay không còn giống như thời các cụ ngày xưa, giờ đây hầu hết mọi người đang gặp gỡ qua mạng xã hội. Với Tinder, ứng dụng hẹn hò miễn phí phổ biến nhất trên thế giới, hàng triệu người độc thân tuyệt vời khác luôn nằm trong tầm tay bạn. Không những thế họ luôn sẵn sàng gặp gỡ những người mới như bạn. Dù bạn "thẳng" hay thuộc cộng đồng LGBTQIA, Tinder luôn sát cánh nhen nhóm những cơ hội gặp gỡ cho bạn.Sẽ luôn có thứ gì đó phù hợp cho mọi người trên Tinder. Bạn muốn thử tay nghề tán gái? Sẽ là như vậy. Bạn đang cố tìm thêm bạn bè? Khỏi cần nói gì thêm. Bạn mới tới ký túc xá và muốn tận dụng tối đa quãng thời gian học đại học của mình? Tinder U sẽ giúp bạn. Tinder không phải là trang hẹn hò thường thường bậc trung cho bạn — đó là ứng dụng hẹn hò đa dạng nhất, nơi những con người trưởng thành thuộc mọi tầng lớp xã hội với những trải nghiệm phong phú khác nhau được khuyến khích tạo dựng các kết nối, những kỷ niệm hay cái gì đó tương tự.<br><br></p>
    <div class="container text-center">
        <p style="text-align: right;margin-top: 50px;">© 2021 Match Group, LLC, mọi quyền đã được bảo lưu</p>
    </div>
</footer>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="assets/js/grayscale.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script src="assets/js/Simple-Slider.js"></script>
</body>

</html>